    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About us</h2>
              <br/>
                <p>We are a couple of computer science engineering
                undergraduate students at <a href="http://deic.uab.cat" target="_blank">dEIC</a> inside
                <a href="http://uab.cat/enginyeria">ETSE Engineering College</a>, inside
                <a href="http://uab.cat">UAB</a> campus in a town called Bellaterra, near Barcelona, Spain</a></p>
                <p>Since we began to do all University practical assignments together as a team,
                we've put all our efforts in our projects so they become the best projects we can
                build before the deadline arrives. Usually those projects are timed to be developed between 2-4 weeks</p>
                <p>We've created this website to offer the world our best projects and to keep our followers updated
                about new interesting projects</p>
                <p>Unfortunately this is the last course in our enginering, so just few projects are about to come.
                You can check what we've done until now (note that most projects are private and pending to become public)</p>
                <br/>
              </div>
        </div>
    </section>
